header{
    background-color: rgb(233, 242, 247) ;
}
.nav_nav{
    margin-left: 800px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(248, 252, 255);
}
.imgs{
    margin: 15px 2px 15px 42px;
}