body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(248, 252, 255);
    
}
.nav_nav{
    margin-left: 800px;
}
h1{
    padding-left: 400px;
    color: rgb(6, 6, 95);
}
h2{
    color: rgb(3, 79, 109);
    padding-left: 50px;
}
.turismo{
    padding-left: 150px;
}
header{
    background-color: rgb(233, 242, 247) ;
    color: rgb(6, 6, 95);
}